.cart-itens{
    border-radius: 20px;
    margin-top: 50px;
    background-color: #99D9EA;
    right: 10vw;
    width: 80vw;
    height: 400px;
    margin: 50px 10% 50px 10%;
}

.cart-header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-title{
    font-size: 30px;
    font-weight: bold;
    color: #2F3841;
}

.product-1{
    padding-left: 50px;
    position: relative;

    margin: 30px 20px 20px 40px;
    height: 100px;

    width: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}
    
.descr-right{
    float:right;
    word-spacing: 20px;
}

.prod-attrib{
    text-align: right;
    word-spacing: 20px;
    margin-left: 65%;
}
a:link{
  text-decoration: none;
  color:#000;
}

.total{
  width: 350px;
  height: 45px;
  background-color: #48C9B0;
  border-radius: 15px;
  margin-right: 100px;
  text-align: right;
  float: right;
  line-height: 5px;
  padding-right: 30px;
}

.ckeckout-button{
  width: 250px;
  height: 45px;
  background-color: #48C9B0;
  border-radius: 15px;
  float: right;
  text-align: center;
  margin-right: 10%;
  margin-bottom: 50px;
  line-height: 40px;
}


/* AFTER CHANGES */
#cart-container{
  margin: 100px 200px 100px 200px;
}
#cart-container table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}


#cart-container table thead{
  font-weight: bold;
}


#cart-container table thead td{
  background-color: #48C9B0;
  color: #fff;
  border: none;
  padding: 6px 0;
}

#cart-container table td{
  border: 1px solid;
  text-align: center;
}

#cart-container table td:nth-child(1){
  width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
  width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6){
  width: 170px;
}
.product-img{
  width: 100px;
  height: 80px;
  object-fit: cover;
}

#qtndInput{
  width: 50px;
}

.trash-img{
  width: 30px;
  object-fit: cover;
}