body{
    background-color: white;
    margin: 0px;
}

.topnav h1{
    margin: 20px 0 20px 100px;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    display:inline-block;
    align-items: left;
    color: #E5E8E8;
}

.topnav{
    background-color: #48C9B0;
    max-width: 100%;
    height: 100px;
    text-align: left;
    font-family: Lobster, "Helvetica Neue",;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
  
  .topnav .search-container {
    float: right;
    margin: 30px 90px 10px 0;
}
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px 0 0 10px;
}
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
  
  .topnav .search-container button:hover {
    background: #ccc;
}

.nav-menu{
    background-color: #99D9EA;
    height: 50px;
    font-family: 'Lilita One', cursive;
    font-style: normal;
    font-weight: 200px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
}
.nav-menu ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #99D9EA;
}

#right-list{
    padding:0 10px 0 700px;
    margin-left: 200px;
}

#right-list li a{
    padding: 5px 70px 5px 70px;
}

.nav-menu .fa{
    float: left;
    padding-left: 40px; 
}
  
.nav-menu li {
    float: left;
}
  
.nav-menu li a {
    display: block;
    color: #4D5656;
    text-align: center;
    padding: 5px 40px 5px 40px;
    text-decoration: none;
}

.content{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
      padding: 50px 150px;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 60px 100px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
.footer{
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #48C9B0;
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    color: white;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer .box-cell.box1 .box-cell.box2 .box-cell.box3{ 
  align-items:left; 
} 
